<?xml version="1.0" encoding="utf-8" ?>
<Root>
  <Easy>
    <GameButtons>4</GameButtons>
    <PointEachStep>4</PointEachStep>
    <RepeatMode>true</RepeatMode>
    <GameTime>4</GameTime>
  </Easy>
  <Medium>
    <GameButtons>4</GameButtons>
    <PointEachStep>4</PointEachStep>
    <RepeatMode>true</RepeatMode>
    <GameTime>4</GameTime>
  </Medium>
  <Hard>
    <GameButtons>6</GameButtons>
    <PointEachStep>4</PointEachStep>
    <RepeatMode>true</RepeatMode>
    <GameTime>4</GameTime>
  </Hard>
</Root>